<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <link href="./output.css" rel="stylesheet">

  <title>Telegram WebApp</title>
</head>

<body class="bg-gray-100 text-gray-900 font-sans p-4">
<script src="https://telegram.org/js/telegram-web-app.js"></script>
<script>
  const initData = Telegram.WebApp.initData;

  // отправь initData на свой сервер
  fetch(`/api/auth?initData=${encodeURIComponent(initData)}`)
  .then(response => response.json())
  .then(data => {
    document.getElementById("id").textContent = data.id;
    document.getElementById("username").textContent = data.username;
    document.getElementById("firstName").textContent = data.first_name;
    document.getElementById("lastName").textContent = data.last_name;
    document.getElementById("photoUrl").src = data.photo_url;
  });
</script>
<div class="max-w-md mx-auto bg-white shadow-xl rounded-2xl p-6 mt-10">
  <h1 class="text-3xl font-bold underline">
    Hello world!
  </h1>

    <div class="space-y-2">
      <p><strong>ID:</strong> <span id="id">id</span></p>
      <p><strong>Имя:</strong> <span id="firstName">имя</span></p>
      <p><strong>Фамилия:</strong> <span id="lastName">фамилия</span></p>
      <p><strong>Username:</strong> <span id="username">username</span></p>
      <img id="photoUrl" src="" alt="photo"/>
    </div>

</div>
</body>
</html>